{% extends 'dashboard/base.html' %}
{% block title %}List Posts{% endblock title %}
{%block content %}
    <a href="{% url 'create_post' %}" class="btn btn-primary my-3">Add Post</a>
    <table class="table">
        <tr>
            <th>Title</th>
            <th>Author</th>
            <th>Content</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
        {% for post in posts %}
            <tr>
                <td>{{post.title}}</td>
                <td>{{post.author}}</td>
                <td>{{post.body}}</td>
                <td>{{post.status}}</td>
                <td>
                    <div class="dropdown-center">
                        <button class="btn" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                          :
                        </button>
                        <ul class="dropdown-menu">
                          <li><a class="dropdown-item" href="{% url 'detail_post' post.id %}"><i class="fa-solid fa-eye text-info"></i></a></li>
                          <li><a class="dropdown-item" href="{% url 'update_post' post.id %}"><i class="fa-solid fa-edit text-primary"></i></a></li>
                          <li><a class="dropdown-item" href="{% url 'delete_post' post.id %}"><i class="fa-solid fa-trash text-danger"></i></a></li>
                        </ul>
                      </div>
                </td>
            </tr>
        {% endfor %}
    </table>
{% endblock content%}